<% content_for :title, "Editing card" %>

<h1>Editing card</h1>

<%= render "form", info_card: @info_card %>

<br>

<div class='d-flex'>
  <%= button_to "View card", @info_card, method: :get, class: 'btn btn-primary' %>&nbsp;
  <%= button_to "Back to cards", info_cards_path, method: :get, class: 'btn btn-primary' %>
</div>
