<p style="color: green"><%= notice %></p>

<% content_for :title, "Info cards" %>

<h1>Info Cards</h1>

<div id="info_cards">
  <% if @info_cards.blank? %>
    <p class='position-relative'>No cards to view</p>
  <% end %>

  <% @info_cards.each do |info_card| %>
    <%= render info_card %>
    <%# <p> %>
      <%#= button_to "View card", info_card, method: :get, class: "btn btn-primary" %>
    <%# </p> %>
  <% end %>
</div>

<%= button_to "New card", new_info_card_path, method: :get, class: "btn btn-primary" %>

