<% content_for :title, "New info card" %>

<h1>New card</h1>

<%= render "form", info_card: @info_card %>

<br>

<div>
  <%= button_to "Back to cards", info_cards_path, method: :get, class: 'btn btn-primary' %>
</div>
